.body {
  background-image: url('https://res.cloudinary.com/dnv99q36g/image/upload/v1708426467/samples/cup-on-a-table.jpg');
  background-size: cover;
  background-position: center;
}

.payment-container {
  max-width: 400px;
  margin: 50px auto; /* Adjust margin to center the form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background for the form */
}

.payment-container h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.payment-container select,
.payment-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #070606;
  border-radius: 5px;
  box-sizing: border-box;
}

.payment-container button {
  background-color: #3399cc;
  color: #4d4d4d;
  font-size: 16px;
  cursor: pointer;
}

.payment-container button:hover {
  background-color: #1e6ea1;
}
